@model ANovelCompanion.ViewModels.BookDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />

<h1 class="book-title">@Model.Title</h1>
<h2 class="book-author">@Model.Author</h2>
<p class="book-rating-link">Average Rating: @Model.AverageRating | @Html.ActionLink("Ratings & Reviews", "Index", "RatingAndReview", new { bookId = Model.Id })</p>

@foreach (var category in Model.Categories)
{
    <p class="book-category">@category |</p>
}

<h2 class="table-title-left">Spoilers</h2>
<p class="link-left">@Html.ActionLink("Add A Spoiler", "Create", "Spoiler", new { bookId = Model.Id })</p>
<div class="table-left">
    @foreach (var spoiler in Model.Spoilers)
    {
        <h3 class="table-left-data">@spoiler.Title</h3>
        <p class="table-left-data-description">@spoiler.Description</p>
        @if (!String.IsNullOrEmpty(spoiler.Image))
        {
            <a href="@spoiler.Image"><img id="image" src="@Url.Content(spoiler.Image)" /></a>
        }
        <hr class="partial-separation"/>
    }
</div>




