@model ANovelCompanion.ViewModels.BookDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

<h1>@Model.Title</h1>
<h2>@Model.Author</h2>

@foreach (var category in Model.Categories)
{
    <p>@category</p>
}

<p>Average Rating: @Model.AverageRating | @Html.ActionLink("Ratings & Reviews", "Index", "RatingAndReview", new { bookId = Model.Id })</p>

<p>@Html.ActionLink("Add A Spoiler", "Create", "Spoiler", new { bookId = Model.Id })</p>

<h2><u>Spoilers</u></h2>
@foreach (var spoiler in Model.Spoilers)
{
    <h3>@spoiler.Title</h3>
    <p>@spoiler.Description</p>
    @if (!String.IsNullOrEmpty(spoiler.Image))
    {
        <a href="@spoiler.Image"><img id="image" src="@Url.Content(spoiler.Image)" /></a>
    }
    <hr />
}





